:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}
label,
input {
  display: block;
}
button,
#checkoutBtn {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}
.cart:hover,
#addToCart:hover {
  opacity: 0.7;
}
.cart a,
.checkoutBtn {
  text-decoration: none;
}

#checkoutPage {
  margin-bottom: 2rem;
}
.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* checkout form */

#checkoutBtn {
  margin-top: 1rem;
}
form input[type="text"],
form input[type="number"],
form input[type="date"] {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: large;
}
form input:required:invalid {
  border-left: solid 5px red;
}
form input:required:valid {
  border-left: solid 5px var(--secondary-color);
}

/* login page */

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 0;
}

#login-form {
  display: block;
  background-color: var(--light-grey);
  padding: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
}

#login-form input[type="submit"] {
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* banner */

.banner {
  background-color: var(--secondary-color);
  text-align: center;
  color: white;
  margin-top: -30px;
  padding: 1.5rem;
}

.banner a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--dark-grey);
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.banner a:hover {
  transform: scale(1.1);
}
/*animation to cart*/

.add-to-cart {
  animation-name: cartlist;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes cartlist {
  33% {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
  66% {
    width: 40px;
    height: 35px;
    font-size: 30px;
  }
  100% {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
}

.script-num {
  position: absolute;
  top: 8px;
  left: 14px;
}
.num-items {
  top: 2px;
  right: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 2px;
  background-color: var(--primary-color);
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.3em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p,
.products h2 {
  margin: 0.5em 0;
}
.products h2 {
  text-align: center;
}
.product-card:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 10px var(--primary-color);
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}
#discountPercentage {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: max-content;
}
#discountProduct {
  color: red;
  text-decoration: line-through;
}
#productFinalPrice {
  color: var(--secondary-color);
  font-size: x-large;
  margin-left: 1rem;
}

.product-card__price {
  display: flex;
}
/* Breadcrumb */

.breadcrumb-list {
  list-style-type: none;
  margin-top: 2rem;
  padding: 0.5rem;
}

.breadcrumb-item {
  display: inline-block;
  margin-right: 5px;
}
.breadcrumb-item a {
  text-decoration: underline;
  color: var(--secondary-color);
}
.breadcrumb-navigation {
  background-color: #eee;
}
.breadcrumb-item::after {
  content: ">";
  margin-left: 5px;
  margin-right: 5px;
  color: var(--primary-color);
}

.breadcrumb-item:last-child::after {
  content: "";
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}
.quantity {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
  align-self: self-end;
}
.cart-quantity {
  align-self: flex-start;
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  justify-content: space-around;
  border: solid 2px var(--primary-color);
  align-items: center;
  padding: 0.5rem;
}
.cart-card__quantity {
  margin: 0;
}

.add-item,
.remove-item {
  cursor: pointer;
  font-size: x-large;
}
.add-item {
  color: var(--secondary-color);
}
.remove-item {
  color: crimson;
}

.add-item:hover {
  transform: scale(1.3);
  color: rgb(67, 74, 10);
}

.remove-item:hover {
  transform: scale(1.3);
  color: red;
}
.cart-card__price {
  grid-row: 3;
  grid-column: 3;
}

.hide {
  display: none;
}

/*ALERT MESSAGES FROM PRODUCT LIST*/
.alert-list {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.alert-list p {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #303030;
  padding: 3rem;
}
.close-btn,
.close-btn-alert {
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 0;
  background-color: transparent;
  text-shadow: 1px 1px 3px #000;
}
.close-btn:hover,
.close-btn-alert:hover {
  color: #000;
}

.alert {
  background-color: var(--primary-color);
  border: 2px solid #fe851c;
  position: relative;
  margin: 0.1rem;
}
.alert p {
  margin-left: 0.5rem;
}
.close-btn-alert {
  top: 13px;
}

/* orders page */

#orders {
  border: solid 1px black;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}
td {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: var(--secondary-color);
  color: white;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
  .alert-list {
    max-width: 500px;
  }
  form {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  form fieldset[name="payment"] {
    grid-column: 1/2;
  }
  form fieldset[name="orderInfo"] {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
